@font-face{
	font-family: Montserrat-Regular;
	src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face{
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
	font-family: Montserrat-Bold;
	src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face{
	font-family: Montserrat-BoldItalic;
	src: url(../fonts/Montserrat-BoldItalic.ttf);
}
@font-face{
	font-family: Montserrat-ExtraBold;
	src: url(../fonts/Montserrat-ExtraBold.ttf);
}
@font-face{
	font-family: Montserrat-Thin;
	src: url(../fonts/Montserrat-Thin.ttf);
}
body{
	font-family: 'Montserrat-Regular', Helvetica;
	position: relative;
}	
*{
	margin: 0 auto;
	padding: 0;
}
	/*PRELOADER*/

#preloader{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 100000;
	background: #fff url(../img/loading.gif) no-repeat center center;
}	

	/*NAVBAR*/
#menu {
	padding: 5px;
	transition: all 0.9s;
} 
.navbar{
 	background-color: transparent !important;
	border-color :transparent;
	background-image: none;
	box-shadow: none;
  z-index: 10;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #00d646;
  background-color: transparent;
}
.navbar-default .navbar-nav>.active>a{
	color: #BEC7D5;
}
.navbar-default .navbar-nav>li>a {
  color: #BEC7D5;
  font-family: 'Montserrat-Thin', Helvetica;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:focus{
	color: #BEC7D5;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #00d646;
  background-color: transparent;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-brand .brand-highlight{
    color: #00d646;
}
.navbar-default .navbar-nav>.active>a{
	color: #00d646;
}
.on{
	background-color: #3a4561 !important;
	padding: 0 !important;
	padding: 10px 0 !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

	/*BANNER*/


.main-banner{
	background: linear-gradient(rgba(51, 59, 80, 0.6), rgba(51, 59, 80,0.6)), url(../img/background-image.jpeg) no-repeat 100%;
	background-size: cover;
	background-position: center center;

}
.banner-content{
	color: #fff;
	font-size: 18px;
	background-color: #00f4f5:
	border: 1px solid #00f4f5;
	margin: 250px 0 400px 0;
}
.banner-content h1{
	font-size: 70px;
  font-family: 'Montserrat-Regular', Helvetica;
	clear: both;
	padding-top: 50px;
}
.banner-content p{
	padding-top: 20px;
	font-size: 18px;
	letter-spacing: 2px;
}
.banner-content .spacing{
	letter-spacing: 15px;
	padding-top: 20px;
}
.main-color{
	color: #00d646;
	font-family: 'Montserrat-Thin';
}

	/*ABOUT ME*/
.about-content img{
	height: 150px;
	border: solid 3px #fff;
	margin-top: 40px;
}
#about .about-img{
	padding-bottom: 50px;
}
#about .about-content{
	background-color: #333b50;
	width: 60%;
  margin: -200px auto;
	color: #fff;
	padding: 50px 70px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 5px rgba(0, 0, 0, 0.19);
}
#about .about-content p{
	letter-spacing: 2px;
	line-height: 30px;
	margin-bottom: 60px;
	display: block;
}
#about{
	background: linear-gradient(rgba(51, 59, 80, 0.6), rgba(51, 59, 80, 0.6)),url(../img/bg-skills1.jpg) no-repeat fixed 100%;	
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.hire-button1 a{
	color: #fff;
	padding: 10px 40px;
	font-family: 'Montserrat-Regular', Helvetica;
	border: solid 1px #00d646;
	text-decoration: none;
	margin: 30px 0 40px 0;
	display: inline-block;
	font-size: 14px;
	transition: 0.5s;
	letter-spacing: 1px;
}
.hire-button1 a:hover{
	border: solid 1px #fff;
	color: #00d646;
}
	/*SKILLS*/
.skill-contents{
	width: 70%;
	margin-top: 200px;
}
.skills-heading h2{
	font-size: 50px;
	color: #fff;
	margin: 80px auto;
	font-family: 'Montserrat-Bold', Helvetica;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.tooltip{ 
  position:relative;
  float:right;
  z-index: 1;
}
.tooltip > .tooltip-inner {
  background-color: transparent; 
  padding:5px 10px;  
  color: #fff; 
  font-size:12px;
  font-family: 'Montserrat-Regular', Helvetica;
}
.popOver + .tooltip > .tooltip-arrow {	
  border-left: 5px solid transparent; 
  border-right: 5px solid transparent; 
  border-top: 5px solid #00d646;
}
.progress{
  border-radius:0;
  overflow:visible;
  height: 10px;
  border-radius: 10px;
  background: transparent;
}
.progress-bar{
	background: #00d646; 
  -webkit-transition: width 5s ease-in-out;
  transition: width 5s ease-in-out;
}
.progressText{
	color: #bec7d5;
	font-family: 'Montserrat-Regular', Helvetica;
	letter-spacing: 3px;
}
#skills .row{
	margin-bottom: 150px;
}

 /*LATEST WORK*/

#portfolio .wrapper-bg{
	background: linear-gradient(rgba(77, 83, 102, 1), rgba(77, 83, 102, 1),rgba(77, 83, 102, 0.8)),url(../img/bg-cv1.jpg) no-repeat 0 700px;	
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
#portfolio .project{
	margin: 100px 0 100px 0;
	color: #fff;
}
#portfolio .project h2{
	font-size: 50px;
 	font-family: 'Montserrat-Regular', Helvetica;
 	font-weight: bold;
 	letter-spacing: 5px;
}
#portfolio .row{
	margin-bottom: 100px;
}
#portfolio .col-md-4 {
    padding-bottom: 10px;
}
.image-relative-1, .image-relative-2, .image-relative-3{
	position: relative;
	transition: all 0.8s;
	overflow: hidden;
}
.hover-content-1, .hover-content-2, .hover-content-3{
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 10%);
  -ms-transform: translate(-50%, 10%);
  -webkit-transition: all 0.5s;
  cursor: pointer;
}
.for-hover img{
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.for-hover:hover img{
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
	-webkit-filter: blur(5px);
   filter: blur(5px);
}
.for-hover:hover .img-1,
.for-hover:hover .img-2,
.for-hover:hover .img-3{
	opacity: 1;
	transition: all 0.5s;
}
.for-hover:hover .hover-content-1, .for-hover:hover .hover-content-2, .for-hover:hover .hover-content-3{
	opacity: 1;
	transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
	-webkit-transition: all 0.5s;
}
.for-hover p{
	color: #333;
}
.view .fa-search{
	font-size: 40px;
	color: #333b50;
}

	/*EDUCATION*/

#education .row-1{
	margin-bottom: 30px
}
#education .row-2{
	margin-bottom: 300px
}
#education .ed-content{
	color: #fff;
	margin: 100px 0 100px 0;
}
#education .ed-content h2{
	margin: 100px 0;
	font-size: 50px;
 	font-family: 'Montserrat-Regular', Helvetica;
 	font-weight: bold;
 	letter-spacing: 5px;
}
#education .row p{
	font-family: 'Montserrat-Thin', Helvetica;
	letter-spacing: 1px;
	font-size: 18px;
	color: #BEC7D5;
}
#education .row h3{
	font-family: 'Montserrat-Thin', Helvetica;
	font-weight: bold;
}
#education .date{
	font-size: 18px;
	color: #00d646;
}

	/*CONTACT*/

#contact .contact-bg{
	background: linear-gradient(rgba(51, 59, 80, 0.7), rgba(51, 59, 80, 0.6)),url(../img/	.jpg) no-repeat fixed 100%;	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 650px;
}

#contact .contact-content{
	background-color: #333b50;
	margin: -200px auto;
	width: 55%;
	color: #fff;
	padding: 50px 50px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 5px rgba(0, 0, 0, 0.19);
	color: #fff;
}
#contact .contact-content h2{
	margin-top: 40px;
	font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px 
}
#contact .contact-content .row{
	margin: 100px 0 50px 0;
}
#contact .contact-content p{
	font-family: 'Montserrat-Thin', Helvetica;
	font-weight: bold;
	letter-spacing: 1px;
	color: #fff;
}
#contact .social-icon{
	margin: 0px 0 30px 0;
	list-style-type: none;
}
#contact .social-icon li{
	display: inline;
	padding: 10px;
}
#contact .row h4{
	padding-bottom: 20px;
}
#contact .social-icon a{
	color: #333b50;
	font-size: 15px;
	transition: .5s;
}
#contact .social-icon .fa-inverse{
	color: #fff;
	transition: .2s;
}
#contact .social-icon a:hover{
	color: #fff;
}
#contact .social-icon a:hover .fa-inverse{
	color: #333b50;
	font-size: 15px;
}
.hire-button .btn-primary{
	color: #fff;
	background-color: transparent;
	border-radius: 1px;
	padding: 10px 40px;
	font-weight: bold;
	font-family: 'Montserrat-Regular', Helvetica;
	border: solid 1px #00d646;
	text-decoration: none;
	margin: 30px 0 40px 0;
	display: inline-block;
	transition: 0.5s;
	letter-spacing: 2px;
}
.hire-button .btn-primary:hover{
	border: solid 1px #fff;
	color: #00d646;
}

	/*FOOTER*/

footer{
	background: #333b50;
	color: #BEC7D5;
}	
footer p{
	font-size: 13px;
	margin: 50px 0 50px 0;
	letter-spacing: 2px;
}	

	/*MEDIA QUERIES*/

@media only screen and (max-width: 1200px){
	#about .about-content{
	background-color: #333b50;
	width: 60%;
  margin: -200px auto;
	color: #fff;
	padding: 50px 50px;
	}
	#about .about-content p{
		letter-spacing: 2px;
		line-height: 30px;
		margin-bottom: 60px;
		display: block;
	}
	#contact .contact-content{
		background-color: #333b50;
		width: 60%;
	  margin: -200px auto;
		color: #fff;
		padding: 50px 30px;
	}
	#contact .contact-content h2{
		margin-top: 40px;
		font-size: 30px;
	  font-weight: bold;
	  letter-spacing: 5px 
	}
}

@media only screen and (max-width: 1199px){
	#about .about-content{
		width: 60%;
	  margin: -200px auto;
		padding: 50px 40px;
	}
	.skills-heading h2 { 
    margin: 100px 0 80px 0;
    letter-spacing: 2px;
	}
	#contact .contact-content{
		background-color: #333b50;
		width: 60%;
	  margin: -200px auto;
		color: #fff;
		padding: 50px 30px;
	}
}	

@media only screen and (max-width: 1024px){
	#about .about-content{
    width: 60%;
 		margin: -200px auto;
	}
	#contact .contact-content{
		width: 60%;
	  margin: -200px auto;
		padding: 40px 30px;
	}
	#contact .contact-content h2{
		margin-top: 40px;
		font-size: 30px;
	  font-weight: bold;
	  letter-spacing: 5px 
	}
}	

@media only screen and (max-width: 990px){
	#about .about-content{
    width: 65%;
 		margin: -200px auto;
    padding: 40px 25px;
	}
	#about .about-content p{
		letter-spacing: 1px;
		line-height: 25px;
		margin-bottom: 40px;
		display: block;
	}
	#contact .contact-content{
		width: 60%;
 		margin: -200px auto;
		padding: 40px 30px;
	}
	#contact .contact-content h2{
		margin-top: 40px;
		font-size: 30px;
	  font-weight: bold;
	  letter-spacing: 5px 
	}
	#contact .contact-content .row{
		margin-top: 80px;
	}
	#contact .row h4{
	padding-bottom: 0px;
	}
	.contact-content .col-md-4{
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 768px){
	#about .about-img{
		padding-bottom: 30px;
	}
	#about .about-content {
    margin: -200 auto;
    width: 65%;
	}
	#about .about-content p{
		margin-bottom: 40px;
	}
	#contact .contact-content{
		margin: -200px auto;
		width: 65%;
	}
	#contact .contact-content h2{
		margin-top: 40px;
		font-size: 30px;
	  font-weight: bold;
	  letter-spacing: 5px 
	}
	#contact .contact-content .row{
		margin: 60px 0 10px 0;
	}
	#contact .row h4{
	padding-bottom: 0px;
	}
	.contact-content .col-md-4{
		margin-bottom: 30px;
	}
}	

@media only screen and (max-width: 425px){
	.banner-content{
	color: #fff;
	font-size: 18px;
	background-color: #00f4f5:
	border: 1px solid #00f4f5;
	margin: 100px 0 350px 0;
	}
	.banner-content h1{
	font-size: 60px;
	}
	#about .about-img{
		padding-bottom: 40px;
	}
	.about-content img{
		height: 150px;
	}
	#about .about-content {
    margin: -200px auto;
    width: 90%;
    padding: 40px 10px;
	}
	.skills-heading h2{
		font-size: 50px;
	}
	.skill-contents{
		width: 90%;
	}
	#skills .row {
    margin-bottom: 100px;
	}
	#portfolio .project {
    margin: 80px 0 80px 0;
	}
	#education .ed-content h2 {
    margin: 80px 0;
    font-size: 40px;
	}
	#contact .contact-content{
		margin: -200px auto;
		width: 90%;
	}
	#contact .contact-content h2{
		margin-top: 40px;
		font-size: 30px;
	  font-weight: bold;
	  letter-spacing: 5px 
	}
	#contact .contact-content .row{
		margin: 40px 0 20px 0;
	}
}	

@media only screen and (max-width: 375px){
	.banner-content{
		font-size: 15px;
		background-color: #00f4f5:
		border: 1px solid #00f4f5;
		margin: 100px 0 380px 0;
	}
	.banner-content h1{
		font-size: 45px;
	}
	.about-content img{
		height: 130px;
	}
	#about .about-content {
    margin: -200px auto;
    width: 95%;
	}
	#about .about-content p{
		letter-spacing: 1px;
		margin-bottom: 10px;
	}
	.skill-contents{
		width: 95%;
	}
	.skills-heading h2{
		font-size: 50px;
		margin-bottom: 60px;
		letter-spacing: 3px;
	}
	.progressText{
    letter-spacing: 1px;
	}
	#skills .row{
    margin-bottom: 100px;
	}
	#portfolio .project {
    margin: 80px 0 80px 0;
	}
	#education .ed-content h2 {
    margin: 80px 0;
    font-size: 40px;
    font-family: 'Montserrat-Regular', Helvetica;
    font-weight: bold;
    letter-spacing: 5px;
	}
	#contact .contact-content{
		margin: -200 auto;
		width: 95%;
	}
	#contact .contact-content h2{
		margin-top: 40px;
	  letter-spacing: 3px 
	}
	.contact-content .col-md-4{
		margin-bottom: 30px;
	}
	#contact .social-icon li {
    padding: 5px;
	}
}

@media only screen and (max-width: 320px){
	.banner-content{
		font-size: 15px;
		margin: 100px 0 380px 0;
	}
	.banner-content h1{
		font-size: 40px;
	}
	.about-content img{
		height: 130px;
	}
	#about .about-content {
    margin: -200 auto;
    width: 95%;
	}
	#about .about-content p{
		letter-spacing: 1px;
		margin-bottom: 10px;
	}
	#skills .row {
    margin-bottom: 100px;
	}
	#portfolio .project {
    margin: 80px 0 80px 0;
	}
	#portfolio .project h2 {
    font-size: 40px;
    font-family: 'Montserrat-Regular', Helvetica;
    font-weight: bold;
    letter-spacing: 1px;
	}
	#education .ed-content h2 {
    margin: 70px 0;
    font-size: 35px;
    letter-spacing: 5px;
	}
	#contact .contact-content{
		margin: -200px auto;
		width: 95%;
	}
	#contact .social-icon li {
    padding: 5px;
	}
}